.MuiTableCell-stickyHeader {
    font-size: 20px !important;
    font-weight: bold !important;
}
.edit{
    color: green;
    cursor: pointer;
}
.delete{
    color: rgb(207, 55, 55) ;
    cursor: pointer;
}